<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NewsletterFeed" value="http://us2.campaign-archive1.com/feed?u=2f2d857b4480a0883c6740273&amp;id=7638673db2" />
    <add key="NewsletterUrl" value="http://us2.campaign-archive2.com/?u=2f2d857b4480a0883c6740273&amp;id=82764e94a6" />
    <add key="WriteDirectory" value="C:\MercyHill\Newsletter\" />
  </appSettings>
</configuration>